body {
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: #1f2937;
    color: white;
    padding: 0 150px 100px 150px;
}

.logo {
    font-size: 24px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
}

p {
    font-size: 18px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin-bottom: 100px
}

ul {
    display: flex;
    list-style: none;
    gap: 16px;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

button {
    border-radius: 8px;
    padding: 8px 30px;
    background-color: #3882F6;
    color: white;
    font-weight: 800;
}

html, body {
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}

img {
    width: auto;
    height: 400px;
}

.text {
    color: #1f2937a5;
    font-size: 18px;
}

.body {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header-content {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.information {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 16px;
    margin-bottom: 100px;
}

.section {
    background: #e5e7eb;
    padding: 100px 200px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937
}
.book {
    text-align: right;
    color: #1f2937;
    font-size: 24px;
    font-weight: 800;
}

.action{
    display: flex;
    justify-content: center;
    align-items: center;
}
.action-box {
    display: flex;
    justify-content: space-between;
    background-color: #3882F6;
    width: 800px;
    height: 100px;
    align-items: center;
    padding: 8px 100px;
    margin: 60px 0;
    border-radius: 15px;
    color: white;
}

.action-one{
    font-size: 24px;
    font-weight: 800;
}

.action-two {
    font-size: 18px;
}

button{
    font-size: 20px;
}

.copyright {
    background-color: #1f2937;
    padding: 80px;
    text-align: center;
    color: white;
    font-size: 18px;
}