.header {
    background-color: #1f2937;
    font-family: 'Roboto', sans-serif;
    color: white;
    padding: 0 200px;
}

.logo {
    font-size: 24px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin-bottom: 100px
}

ul {
    display: flex;
    list-style: none;
    gap: 16px;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

button {
    border-radius: 8px;
    padding: 8px 30px;
    background-color: #3882F6;
    color: white;
    font-weight: 800;
}

html, body {
    margin: 0;
    padding: 0;
}